version: '3.8'

services:
  db:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: onboarding-db
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - app-network

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api
    depends_on:
      - db
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: admin
      DB_PASSWORD: admin
      DB_NAME: onboarding-db
      
    restart: unless-stopped
    networks:
      - app-network

  bot:
    build:
      context: /home/zabiullah/Desktop/cda-vals-p5-bot-onboarding
      dockerfile: Dockerfile
    container_name: discord-bot
    environment:
      API_URL: http://api:3000  
    depends_on:
      - api
    networks:
      - app-network
      
    restart: unless-stopped

volumes:
  postgres-data:

networks:
  app-network:
    driver: bridge

