version: '3.8'

services:
  db:
    image: postgres:16
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: mydatabase
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app-network

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: api
    depends_on:
      - db
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: myuser
      DB_PASS: mypassword
      DB_NAME: mydatabase
      
    restart: unless-stopped
    networks:
      - app-network

  bot:
    build:
      context: https://github.com/Simplon-hdf/cda-vals-p5-bot-onboarding/tree/develop
      dockerfile: Dockerfile
    container_name: discord-bot
    environment:
      API_URL: http://api:3000  
    depends_on:
      - api
    networks:
      - app-network
      
    restart: unless-stopped

volumes:
  postgres-data:

networks:
  app-network:
    driver: bridge

